.details-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ddd;
    background-color: #2b5366;
    border-radius: 20px;
    color: #acacb4;
  }

.remove-btn {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: #6a9ca7;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    color: #2b5366;
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    padding: 14px;
    justify-content: center;
    text-align: center;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    max-width: 200px;
}