.weather-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.current-temp {
  font-size: 150px;
}

.input-field {
  box-sizing: border-box;
  padding: 10px;
  width: 200px;
  margin-top: 20px;
  text-align: center;
}

.search-box {
  text-align: center;
}