* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index-body {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  min-height: 100vh;
}

.inputBox {
  position: relative;
  width: 250px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #6a9ca7;
  color: #6a9ca7;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  background-color: #2b5366;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  text-transform: uppercase;
  color: #6a9ca7;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color:#fff;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #2b5366;
  border-left:1px solid #6a9ca7 ;
  border-right:1px solid #6a9ca7 ;
  letter-spacing: 0.2em;
}

.search-box {
  box-shadow: 5px 5px 5px darkslategray;
  width: 500px;
  height: 200px;
  background-color: #2b5366;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}


.weather-card {
  width: 800px;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  background-color: #2b5366;
  border-radius: 20px;
  color: #acacb4;
}

.current-temp {
  font-size: 150px;
}

.save-btn,
.search-btn {
  margin-left: 5px;
  align-items: center;
  background-color: #6a9ca7;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  color: #2b5366;
  cursor: pointer;
  display: inline-flex;
  font-weight: bold;
  line-height: 1;
  padding: 14px;
  text-align: center;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.search-btn:hover {
  box-shadow: black 0 0 0 1px, transparent 0 0 0 0;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}