.left-nav {
  text-decoration: none;
  color: #6a9ca7;
  border-radius: 12px;
  background-color: #254053;
  padding: 10px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #254053;
  background-color:#6a9ca7 ;
  border-radius: 10px;
  padding:10px;
  margin: -10px;
}

.left-nav, .right-nav {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.right-nav span, .right-nav a {
  display: flex;
  align-items: center;
}

.user-img {
  border-radius: 50%;
  width: 50px;
}

.logo {
  width: 50px;
  border-radius: 50%;
}

.nav-link {

}