.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    padding: 20px;
}

.fav-loc-card {
    text-align: center;
    border: solid 2px black;
    border-radius: 20px;
    background: #2b5366;
}

.details-link {
    text-decoration: none;
    color: black;
}

.details-link:visited {
    color: black;
}

